<div class="product-detail-container">
    <div class="product-images">
      <div class="thumbnail-images">
        <img src="">
      </div>
      <div class="main-image">
        <img src="" alt="">
      </div>
    </div>
    <div class="product-info">
      <h1>product.name </h1>
      <div class="price">
        <span class="special-price">₹product.specialPrice </span>
        <span class="original-price">₹ product.originalPrice </span>
        <span class="discount"> product.discount % off</span>
      </div>
      <div class="ratings">
        <span> product.rating  ★</span>
        <span> product.reviewsCount  ratings and  product.reviews  reviews</span>
      </div>
      <div class="offers">
        <h3>Available offers</h3>
        <ul>
          <li > offer </li>
        </ul>
      </div>
      <div class="actions">
        <button class="btn add-to-cart">Add to Cart</button>
        <button class="btn buy-now">Buy Now</button>
      </div>
      <div class="warranty">
        <span>Warranty:  product.warranty </span>
      </div>
    </div>
  </div>
