<div class="main">
    <div class="close">
        <i class="fa fa-times" (click)="closeprofile()"></i>
    </div>
    <div class="main-address">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <h2>NAME</h2>
        <h2>PHONE</h2>
        <div class="body">
            <h3>email</h3>
            <h3>place</h3>
        </div>
        <div class="body">
            <h3>dist</h3>
            <h3>state</h3>
        </div>
        <div class="body">
            <h3>post</h3>
            <h3>pin</h3>
        </div>
    </div>
    <div class="edit">
        <button class="btn btn-danger" (click)="editprofile()">Edit</button>
    </div>
</div>