<div class="main">
    <div class="container-fluid">
        <div class="card">
            <i class="fa fa-user" aria-hidden="true"></i>
            <div class="card-body">
                <h5 class="name">Name</h5>
                <h5 class="email">Email</h5>
                <h5>house namex</h5>
                <h5>address country</h5>
                <h5>address state</h5>
                <h5>address dist</h5>
                <h5>place</h5>
                <h5>post</h5>
                <h5>pin</h5>
                <h5>phone</h5>
            </div>
            <div class="card-footer">
                <div class="button"><button class="btn btn-success">Edit</button></div>
            </div>
        </div>
    </div>
</div>
