<div class="main">
    <div class="body">
        <div class="carousel">
            <div class="slides">
                <div class="slide" id="slide-1">
                    <img src="assets/b1.jpeg" alt="Image 1">
                </div>
                <div class="slide" id="slide-2">
                    <img src="assets/b2.jpeg" alt="Image 2">
                </div>
                <div class="slide" id="slide-3">
                    <img src="assets/b3.jpeg" alt="Image 3">
                </div>
            </div>
        </div>
    </div>
    <div class="featured-product">
        
        <div class="border">
           <div class="product">
               <h1>Category</h1>
           </div>
           <div class="container">
               <div class="card-grid">
                 <div  class="card"  >
                   <img src="" alt="" class="card-img">
                   <div class="card-body">
                     <h5 class="card-title"> category name </h5>
                    
                   </div>
                 </div>
               </div>
           </div>
           <div class="readmore">
               <button (click)="morecategory()">{{category ? 'showless' : 'showmore'}}</button>
           </div>
        </div>
       </div>
    <div class="featured-product">
        
     <div class="border">
        <div class="product">
            <h1>Shinning Products</h1>
        </div>
        <div class="container">
            <div class="card-grid">
              <div  class="card" *ngFor="let x of productlist" (click)="goToDetails()">
                <img src="" alt="" class="card-img">
                <div class="card-body">
                  <h5 class="card-title"> product name {{x.name}} </h5>
                  <p class="card-price">₹ rate {{x.price}} </p>
                  <p class="card-discount">10% off</p>
                  <button class="btn btn-primary">hot deal</button>
                </div>
              </div>
            </div>
        </div>
        <div class="readmore">
            <button (click)="moreitems()">{{more ? 'showless' : 'showmore'}}</button>
        </div>
     </div>
    </div>
</div>


